<span class="text-area">
  <img alt="nrelay" class="logo" src="assets/logo.png">
  <p class="bigger">A framework for powerful RotMG bots.</p>
  <p class="left">
    nrelay is a console based modular client for Realm of the Mad God built with NodeJS and TypeScript. It was built with flexibility
    and plugin development in mind, and a major design goal of nrelay is to make writing plugins both rewarding and easy.
    <br>
    Because it is built on NodeJS, integrating other npm modules is as easy as using <code>npm install</code>. nrelay is also packaged with several pre-built plugin components to provide useful functionality right out of the box.
  </p>
</span>
<mat-card class="download" [@fadeUp]>
  <mat-card-title>
    Download nrelay
  </mat-card-title>
  <mat-card-content class="dual-container">
    <button (click)="openDialog(true)" name="Download stable" color="primary" mat-raised-button>DOWNLOAD STABLE
      <br>
      <span class="version">
        <mat-icon class="spinnable" [class.spin-animation]="!devVersion">{{masterVersion ? 'info_outline' : 'refresh'}}</mat-icon>{{masterVersion ? 'v' + masterVersion : '...'}}</span>
    </button>
    <button (click)="openDialog(false)" name="Download latest" color="accent" mat-raised-button>DOWNLOAD LATEST
      <br>
      <span class="version">
        <mat-icon class="spinnable" [class.spin-animation]="!devVersion">{{devVersion ? 'info_outline' : 'refresh'}}</mat-icon>{{devVersion ? 'v' + devVersion : '...'}}</span>
    </button>
  </mat-card-content>
</mat-card>
<nr-download-dialog [@growDown] [link]="link" [maxWidth]="dialogWidth" *ngIf="showDialog" (shouldClose)="showDialog = false"
  [text]="dialogText"></nr-download-dialog>
<nr-message-log></nr-message-log>
