:host {
    display: flex;
    flex-direction: column;
    margin: 16px;
    flex: 1 0 auto;
}

.download {
  width: 100%;
  max-width: 650px;
  margin: 16px auto;
  z-index: 10;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.logo {
  max-width: 560px;
  width: 100%;
}

.text-area {
  margin: 0 auto;
  max-width: 800px;
  display: block;
  text-align: center;
  flex: 1 0 auto;
  p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  p.left {
    text-align: left;
  }
  h1.title {
    font-size: 5em;
    text-align: center;
    line-height: 1em;
  }
  p.bigger {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

.dual-container {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  button {
    flex: 1 1 auto;
    margin: 16px;
    max-width: 300px;
  }
  .version {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    .mat-icon {
      margin: 8px;
    }
  }
}

.mat-icon.spinnable {
  transition: transform ease 350ms;
}

.spin-animation {
  animation: spin 2s infinite;
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
