.item {
  flex: 1 0 auto;
  background-color: white;
  cursor: pointer;
  &.inset {
    padding-left: 36px;
  }
  transition: all 250ms ease;
  &:hover {
    border: 1px solid rgba(30, 143, 255, 0.75);
    border-radius: 2px;
    transform: translateY(-2px);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  &:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  &:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.back-item {
  border-radius: 2px;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 16px;
}

.mat-list {
  flex: 1 0 auto;
}


.doc-card {
  flex: 1 0 auto;
  display: block;
}
