<a mat-button class="button" (click)="emitEvent()" routerLink="/home" routerLinkActive="selected">HOME</a>
<a mat-button class="button" (click)="emitEvent()" routerLink="/docs" routerLinkActive="selected">DOCS</a>
<a mat-button class="button" (click)="emitEvent()" href="//github.com/thomas-crane/nrelay" target="_blank" rel="noopener" routerLinkActive="selected">GITHUB<mat-icon>launch</mat-icon></a>
<a mat-button class="button" (click)="emitEvent()" routerLink="/about" routerLinkActive="selected" routerLinkActive="selected">ABOUT</a>
