<button mat-button class="button" (click)="emitEvent()" routerLink="/home" routerLinkActive="selected">HOME</button>
<button mat-button class="button" (click)="emitEvent()" routerLink="/docs" routerLinkActive="selected">DOCS</button>
<button mat-button class="button" href="//github.com/thomas-crane/nrelay" target="_blank" rel="noopener" routerLinkActive="selected">GITHUB<mat-icon>launch</mat-icon></button>
<button mat-button class="button" (click)="emitEvent()" routerLink="/about" routerLinkActive="selected" routerLinkActive="selected">ABOUT</button>
